@import '../../variables.less';

.custom-popup {
  &__content {
    padding-left: 0;
  }
  &__trigger {
    height: 100%;
  }
}

.Dark {
  .custom-popup {
    background-color: @BackGroundColorDark;
    &:before {
      background-color: @InputBackgroundColorDark !important;
    }
    &.left {
      &:before {
        box-shadow: 1px -1px 0px 0px @TableBorderColorDark !important;
      }
    }
    &.right {
      &:before {
        box-shadow: -1px 1px 0px 0px @TableBorderColorDark !important;
      }
    }
    color: @TextColorDark;
    &__header {
      background-color: @BackGroundColorDark;
      color: @TextColorDark;
    }
  }
}
