@import '../../variables.less';

.ui.sign {
  border-radius: 6px;
  text-align: center;
}

.wrapper {
  display: flex;
  padding: 4px 8px;
}

.text {
  margin-left: 2px;
  line-height: 18px;
}

.sign-blue {
  color: @BlueBadgeColorLight;
  background: @BlueBadgeBackgroundColorLight;
}

.sign-green {
  color: @GreenBadgeColorLight;
  background: @GreenBadgeBackgroundColorLight;
}

.sign-orange {
  color: @OrangeBadgeColorLight;
  background: @OrangeBadgeBackgroundColorLight;
}

.sign-red {
  color: @RedBadgeColorLight;
  background: @RedBadgeBackgroundColorLight;
}

.sign-black {
  color: @BlackBadgeColorLight;
  background: @BlackBadgeBackgroundColorLight;
}
