@import 'app/my-custom-semantic-theme/variables.less';

.mobile-tabs {
  display: flex;
  width: 100%;
  background-color: @InputBackgroundColorDark;
  height: 100%;
  height: 75px;
  &__item {
    display: flex;
    align-content: center;
    margin: auto;
    outline: none;
    &_notice {
      position: relative;

      &:after {
        position: absolute;
        top: -2px;
        left: calc(
          50% + 9px
        ); // 50% of item + (half of icon width - notice width)
        display: block;
        content: '';
        width: 6px;
        height: 6px;
        background-color: rgba(255, 54, 54, 0.9);
        border-radius: 50%;
      }
    }
  }
}

.Light {
  .mobile-tabs {
    background-color: @SecondaryColor;
  }
}
