@TextColorLight: #313131;
@TextColorDark: #F6F9FF;
@BackGroundColorLight: #F5F6FA;
@BackGroundColorDark: #1C1E22;
@BorderColorDark: #4B4E54;
@InputTextColorLight: #CACACD;
@InputBackgroundColorLight: #FFFFFF;
@InputBackgroundColorDark: #26282E;
@InputTextColorDark: #CACACD;
@BorderColorLight: #D4D4D4;
@PrimaryColor: #3184FF;
@SecondaryColor: #FFFFFF;
@AvatarBackgroundColor: #C4C4C4;
@BackGroundWithOpacity: rgba(0, 0, 0, 0.4);
@UsersModalTextColor: #72787e;
@ActionsButtonBackground: rgba(63, 49, 132, 0.12);
@InputBorderColor: rgba(34, 36, 38, 0.15);

// Table Colors
@TableHeaderTextColorLight: #B5B5B7;
@TableHeaderTextColorDark: #888F96;
@TableBorderColorLight: #EDEDED;
@TableBorderColorDark: #36383F;

// Badge Colors
@BlueBadgeColorLight: #3184FF;
@BlueBadgeBackgroundColorLight: #E6F0FF;
@BlueBadheBackgourndColorDarkActive: rgba(49, 132, 255, 0.2);

@GreenBadgeColorLight: #55CE63;
@GreenBadgeBackgroundColorLight: rgba(85, 206, 99, 0.15);

@OrangeBadgeColorLight: #FF9800;
@OrangeBadgeBackgroundColorLight: rgba(255, 152, 0, 0.15);

@RedBadgeColorLight: #FF3636;
@RedBadgeBackgroundColorLight: rgba(255, 54, 54, 0.12);

@PurpleBadgeColorLight: #EA00FF;
@PurpleBadgeBackgroundColorLight: rgba(234, 0, 255, 0.12);

@BlackBadgeColorLight: @TextColorLight;
@BlackBadgeBackgroundColorLight: rgba(49,49,49,0.12);


@BlackBadgeColorDark: @TextColorDark;
@BlackBadgeBackgroundColorDark: rgba(246,249,255,0.12);


//Pagination
@PaginationBackgroundActiveColor: rgba(49, 132, 255, 0.12);

//Notification
@NotificationInfoBGColor: #D8E5FB;
@NotificationWarningBGColor: #F6E8D5;
@NotificationSuccessBGColor: #DDF0E3;
@NotificationTimeColor: rgba(49, 49, 49, 0.5);

//Scrollbar
@DarkScrollbarBackgroundColor: #888F96;
@DarkScrollbarScrollColor: #4B4E54;

//Adaptive
@mob: ~"(max-width:767px)";

@smallMob: ~"(max-width:340px)";

