.custom-calendar-header {
  width: 100%;
  display: flex;
  height: 46px;
  justify-content: space-between;
  &__chevron {
    padding: 10px;
    cursor: pointer;
    &_disabled {
      cursor: default;
      opacity: 0.3;
    }
  }
  &__text {
    width: 100%;
    text-align: center;
    padding: 13px;
    font-weight: bold;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
