@import '../../../../variables.less';

.Dark {
  .form-dropdown-field {
    .search {
      color: @InputTextColorLight;
    }
    .visible.menu {
      & > .message {
        color: @InputTextColorLight;
      }
    }
  }
}

.input_row {
  .ui.fluid  {
    border: 1px solid #4B4E54 !important;
  }
}
