@import 'app/my-custom-semantic-theme/variables.less';

.modal-close-button {
  border: none;
  background-color: @InputBackgroundColorLight;
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  &__line {
    position: absolute;
    width: 20px;
    height: 0px;
    top: 6px;
    left: -2px;
    border: 2px solid @BorderColorLight;
    border-radius: 3px;
    background-color: @BorderColorLight;
  }

  &__line:nth-of-type(1) {
    transform: rotate(-45deg);
  }

  &__line:nth-of-type(2) {
    transform: rotate(45deg);
  }
}
.Dark {
  .modal-close-button {
    background-color: @InputBackgroundColorDark;
  }
}
