@import 'app/my-custom-semantic-theme/variables.less';

.custom-calendar-week-days {
  display: flex;
  width: 100%;
  height: 46px;
  color: @TableHeaderTextColorLight;
  &__day-of-week {
    width: 100%;
    text-align: center;
    padding: 13px;
    font-size: 12px;
    font-weight: bold;
    word-break: keep-all;
  }
}
