@import 'app/my-custom-semantic-theme/variables.less';

.housekeeping-logo {
  font-size: 28px;
  height: 38px;
  width: 38px;
  background: @PrimaryColor;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 8px;
  font-style: italic;
  font-weight: bolder;
  color: @SecondaryColor;
}
