@import '../../variables.less';

.table-wrapper {
  background-color: @InputBackgroundColorLight;
  color: @TextColorLight;
}

.Dark {
  .table-wrapper {
    background-color: @InputBackgroundColorDark;
    color: @TextColorDark;
  }
}
