@import 'app/my-custom-semantic-theme/variables.less';

.mobile-list-item {
  display: flex;
  background: @InputBackgroundColorDark;
  border-radius: 6px;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  position: relative;
  border: 1px solid transparent;
  &_border {
    &-blue {
      border-color: @BlueBadgeColorLight;
    }
    &-purple {
      border-color: @PurpleBadgeColorLight;
    }
    &-green {
      border-color: @GreenBadgeColorLight;
    }
    &-orange {
      border-color: @OrangeBadgeColorLight;
    }
    &-red {
      border-color: @RedBadgeColorLight;
    }
  }
  &__info-text {
    font-size: 17px;
    margin: 0 10px 0 0;
    padding: 0;
    margin-bottom: 5px;
    color: @TableHeaderTextColorLight;
  }
  &__info-subtext {
    color: @TableHeaderTextColorLight;
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}

.Light {
  .mobile-list-item {
    background: @InputBackgroundColorLight;
    &__info {
      &-text,
      &-subtext {
        color: @TextColorLight;
      }
    }
  }
}
