@import 'app/my-custom-semantic-theme/variables.less';

.tour-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @PrimaryColor;
  transform: scale(0.85);
  animation: pulse 2s ease-in-out infinite;
  color: @SecondaryColor;
  cursor: pointer;
  &_big {
    width: 25px;
    height: 25px;
  }
}
