.modal-window {
  &__header {
    justify-content: space-between;
    &-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 5px;
    }
  }
  &_narrow {
    &.ui.modal {
      width: 85%;
    }
  }
}
