@import 'app/my-custom-semantic-theme/variables.less';

.custom-calendar-view {
  width: 100%;
  height: 100%;
  background-color: @SecondaryColor;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.Dark {
  .custom-calendar-view {
    background-color: @InputBackgroundColorDark;
  }
}
