@import 'app/my-custom-semantic-theme/variables';
.mobile-card {
  display: flex;
  flex-direction: column;
  height: inherit;

  &__info {
    &-text {
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 5px 0;
      padding: 0;
      color: @TextColorLight;
    }

    &-subtext {
      color: @TextColorLight;
      margin: 0;
    }
  }
  &__card {
    display: flex;
    border-radius: 6px;
    width: 100%;
    padding: 10px 10px 10px 16px;
    margin-bottom: 12px;
    position: relative;
  }
}

.Dark {
  .mobile-card {
    &__info {
      &-text {
        color: @TextColorDark;
      }

      &-subtext {
        color: @TextColorDark;
      }
    }
  }
}
