@import 'app/my-custom-semantic-theme/variables.less';

.custom-calendar-cell-view {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 9px;
  cursor: pointer;
  position: relative;
  &_selected {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 8px;
      background-color: @BlueBadgeBackgroundColorLight;
      border-radius: 6px;
      bottom: 0;
    }
  }
  &_disabled {
    color: @TableHeaderTextColorDark;
    opacity: 0.3;
    cursor: default;
  }
  &_today {
    color: @PrimaryColor;
    font-weight: bold;
  }
  &__markers {
    position: absolute;
    display: flex;
    height: 8px;
    width: 100%;
    bottom: 0;
    justify-content: center;
    z-index: 2;
    padding-top: 1px;
  }
  &__marker {
    max-width: 6px;
    max-height: 6px;
    min-width: 6px;
    min-height: 6px;
    border-radius: 50%;
    background-color: transparent;
    &-wrapper {
      margin: 0 2px;
    }
    &_color {
      &_green {
        background-color: @GreenBadgeColorLight;
      }
      &_blue {
        background-color: @BlueBadgeColorLight;
      }
      &_orange {
        background-color: @OrangeBadgeColorLight;
      }
    }
  }
}

.Dark {
  .custom-calendar-cell-view {
    &_selected {
      &:after {
        background-color: @BackGroundColorDark;
      }
    }
  }
}
