@import 'app/my-custom-semantic-theme/variables.less';

.start-tour-icon {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @InputBackgroundColorDark;
  height: 40px;
  width: 40px;
  border: 1px solid @BorderColorDark;
  border-radius: 50%;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 3;
}

.Light {
  .start-tour-icon {
    background-color: @InputBackgroundColorLight;
    border: 1px solid @BorderColorLight;
  }
}
