.error-boundary-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    padding-top: 40px;
    width: 340px;
    text-align: center;
    &-text {
      padding-bottom: 40px;
      padding-top: 10px;
    }
  }
}
