@import 'app/my-custom-semantic-theme/variables.less';

.Dark {
  .badge-blue-active {
    background: @BlueBadheBackgourndColorDarkActive;
    border: 1px solid @BlueBadheBackgourndColorDarkActive;
  }
  .sign-blue {
    background: @BlueBadheBackgourndColorDarkActive;
  }
  .sign-black {
    color: @BlackBadgeColorDark;
    background: @BlackBadgeBackgroundColorDark;
  }
}
