@import 'app/my-custom-semantic-theme/variables.less';

.ui.button {
  width: 100%;
  &.large {
    border-radius: 6px;
    height: 44px;
  }
  &.grey {
    background-color: @InputBackgroundColorDark;
    color: @TextColorDark;
    &:hover {
      background-color: @InputBackgroundColorDark;
    }
  }
}

.Light {
  .ui.button.primary {
    background: @PrimaryColor;
    border: 1px solid @PrimaryColor;
  }
  .ui.button.secondary {
    background: @SecondaryColor;
    color: @TextColorLight;
    border: 1px solid @BorderColorLight;
  }
  .ui.red.button {
    background: @RedBadgeColorLight;
    border: 1px solid @RedBadgeColorLight;
  }

  .add-todo-buttons {
    &__button {
      border: 1px solid @BorderColorLight;
      background-color: @BackGroundColorLight;
      color: @BorderColorLight;
    }
  }
  .actions-button {
    background: @ActionsButtonBackground;
  }
}
.Dark {
  .ui.button.primary {
    border: 1px solid @PrimaryColor;
    background: @PrimaryColor;
  }
  .ui.button.secondary {
    color: @TextColorDark;
    background-color: @BackGroundColorDark;
    border: 1px solid @BorderColorDark;
  }
  .ui.red.button {
    background: @RedBadgeColorLight;
    border: 1px solid @RedBadgeColorLight;
  }
  .actions-button {
    background: @BlueBadheBackgourndColorDarkActive;
  }
  .add-todo-buttons {
    &__button {
      border: 1px solid @BorderColorDark;
      background-color: @BackGroundColorDark;
      color: @TextColorDark;
    }
  }
  .notification {
    &__button {
      color: @TableHeaderTextColorLight;
    }
  }
}

@media @mob {
  .ui.button {
    width: 100%;
  }
}
