@import 'app/my-custom-semantic-theme/variables.less';
@import 'app/my-custom-semantic-theme/styles/badges.less';
@import 'app/my-custom-semantic-theme/styles/buttons.less';
@import 'app/my-custom-semantic-theme/styles/header.less';
@import 'app/my-custom-semantic-theme/styles/inputs.less';
@import 'app/my-custom-semantic-theme/styles/loader.less';
@import 'app/my-custom-semantic-theme/styles/modals.less';
@import 'app/my-custom-semantic-theme/styles/report-stats.less';
@import 'app/my-custom-semantic-theme/styles/tables.less';

//Grid normalize
.ui.grid {
  margin: 0 !important;
}

.logo {
  display: flex;
}

p {
  margin: 0;
}

.Light {
  min-height: 100vh;
  color: @TextColorLight;
  background: @BackGroundColorLight;
}
.Dark {
  min-height: 100vh;
  color: @TextColorDark;
  background: @BackGroundColorDark;
  scrollbar-color: @DarkScrollbarBackgroundColor @DarkScrollbarScrollColor;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    &-thumb {
      background-color: @DarkScrollbarBackgroundColor;
    }
    &-track {
      background-color: @DarkScrollbarScrollColor;
    }
  }
}

//Layout
@media @mob {
  #app {
    .wrapper {
      min-height: 100vh;
      .content {
        width: 89.33%;
      }
    }
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
