@import 'app/my-custom-semantic-theme/variables.less';

.Light {
  .nav-item__link,
  .header__controls-icon,
  .nav-item .text {
    color: @TableHeaderTextColorLight;
  }

  .header {
    background: @SecondaryColor;
  }
}
.Dark {
  .nav-item__link,
  .header__controls-icon,
  .nav-item .text {
    color: @TableHeaderTextColorDark;
  }
  .header {
    background: @InputBackgroundColorDark;
  }
}
.nav {
  .active {
    color: @PrimaryColor !important;
  }
}
.nav-item {
  .ui {
    .menu {
      box-shadow: none;
      .active .text {
        color: @PrimaryColor;
        font-weight: normal;
      }
    }
  }
  &__link_active {
    .divider.text {
      color: @PrimaryColor;
    }
  }
}
