@import 'app/my-custom-semantic-theme/variables.less';

// remove up and down arrow in input number
input[type='number'] {
  &:hover,
  &:focus {
    -moz-appearance: number-input;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

.ui.input.mini.fluid {
  height: 40px;
  font-size: 15px;
  border-radius: 6px;
}

.ui.fluid.selection.dropdown {
  height: 38px;
}

.form-time-picker-field {
  &__time-input {
    .ui.input {
      height: 40px;
    }
  }
}
.custom-text-area {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 6px;
  resize: none;
  outline: none;
}

.custom-date-input {
  width: 100%;
  height: 100%;
  & .center.aligned.table {
    height: 100%;
    & td {
      padding: 9px;
    }
    & .active {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: @PrimaryColor;
        border-radius: 50%;
        bottom: calc(50% - 15px);
        left: calc(50% - 15px);
      }
      & .suicr-content-item {
        border-bottom: transparent;
        border-radius: 50%;
      }
    }
    & .disabled {
      color: @TableHeaderTextColorDark;
      opacity: 0.3;
    }
    & .suicr-content-item {
      position: relative;
      font-size: 12px;
      font-weight: bold;
    }
    & .ui.circular.label {
      position: relative;
      background-color: transparent;
      color: @TextColorDark;
      &:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: @GreenBadgeColorLight;
        color: @TextColorDark;
        border-radius: 50%;
        bottom: -13px;
        left: calc(50% - 3px);
      }
    }
  }
}

.ui.checkbox.checked {
  input:checked ~ label {
    &::before {
      background-color: @PrimaryColor;
      border: none;
      width: 18px;
      height: 18px;
    }
    &::after {
      color: @SecondaryColor;
      width: 18px;
      height: 18px;
    }
  }
}

.Light {
  .ui.input,
  .ui.input.mini {
    // border: 1px solid @BorderColorLight;
    border-radius: 6px;
    input {
      ::placeholder {
        color: @InputTextColorLight;
      }
      background: @InputBackgroundColorLight;
    }
  }

  .dropdown-label__text,
  .dropdown-label__button {
    background: @BlueBadgeBackgroundColorLight;
    color: @BlueBadgeColorLight;
  }
  .card {
    background-color: @InputBackgroundColorLight;
  }
  .custom-text-area {
    background-color: @InputBackgroundColorLight;
    color: @InputTextColorLight;
    border-color: @BorderColorLight;
    & ::placeholder {
      color: @InputTextColorLight;
    }
  }
  .custom-date-input {
    & .center.aligned.table {
      & .ui.circular.label {
        color: @TextColorLight;
      }
    }
    & .center.aligned.table {
      & .active {
        & .ui.circular.label,
        & .suicr-content-item {
          color: @TextColorDark;
        }
      }
    }
  }
}

.Dark {
  .ui.input,
  .ui.input.mini {
    border: 1px solid @BorderColorDark;
    border-radius: 6px;
    input {
      color: @InputTextColorDark;
      background: @InputBackgroundColorDark;
    }
  }

  .dropdown-label__text,
  .dropdown-label__button {
    background: @BlueBadheBackgourndColorDarkActive;
    color: @BlueBadgeColorLight;
  }

  .ui.icon.input {
    border: 1px solid @BorderColorDark;
    border-radius: 6px;
  }

  .ui.selection.dropdown {
    display: flex;
    flex-direction: column-reverse;
    color: @InputTextColorDark;
    background: @InputBackgroundColorDark;
    border: 1px solid @BorderColorDark;
    border-radius: 6px;
    height: 40.33px;
    .divider.text {
      color: @InputTextColorDark;
    }
  }
  .visible.menu.transition {
    outline: none;
    color: @InputTextColorDark;
    background: @InputBackgroundColorDark;
    .item {
      color: @InputTextColorDark;
      border: none;
    }
  }
  .placeholder-component {
    // TODO: bug need fixes, eto KocTbIJlb
    padding-bottom: 8px;
  }
  .suicr-year-view-header {
    span {
      color: @TextColorDark !important;
    }
  }
  .card {
    background-color: @InputBackgroundColorDark;
  }
  .custom-text-area {
    background-color: @InputBackgroundColorDark;
    color: @InputTextColorDark;
    border-color: @BorderColorDark;
    & ::placeholder {
      color: @InputTextColorDark;
    }
  }
  .time.icon {
    color: @TextColorDark;
  }
}
