@import 'app/my-custom-semantic-theme/variables.less';

.ui.loader {
  color: @PrimaryColor;
}
.ui.loader:after {
  border-color: @PrimaryColor transparent transparent !important;
}

.Dark {
  & .ui.loader.text {
    color: @TextColorDark;
  }
}

.Light {
  & .ui.loader.text {
    color: @TextColorLight;
  }
}
