@import 'app/my-custom-semantic-theme/variables.less';

.ui.checkbox {
  label {
    line-height: inherit;
  }
}
.Light {
  .ui.modal {
    & textarea {
      background-color: @InputBackgroundColorLight;
      border-color: @TableBorderColorLight;
      color: @TextColorLight;
      & ::placeholder {
        color: @TextColorLight;
      }
    }
    & .header {
      border: none;
    }
    & .actions {
      background-color: @SecondaryColor;
      border: none;
    }
  }
  .custom-divider {
    width: 100%;
    height: 1px;
    background: @TableBorderColorLight;
  }
  .ui.medium.modal {
    .add-todo-list {
      border: 1px solid @BorderColorLight;
    }
  }
}

.Dark {
  .custom-divider {
    width: 100%;
    height: 1px;
    background: @TableBorderColorDark;
  }
  .ui.checkbox {
    label {
      color: @TextColorDark;
    }
  }

  .ui.modal {
    & textarea {
      background-color: @InputBackgroundColorDark;
      color: @InputTextColorDark;
      border-color: @TableBorderColorDark;
      & ::placeholder {
        color: @InputTextColorDark;
      }
    }
  }

  .ui.mini.modal {
    .header {
      background: @InputBackgroundColorDark;
      color: @TextColorDark;
    }
    .content {
      background: @InputBackgroundColorDark;
      color: @TextColorDark;
    }
  }
  .ui.medium.modal {
    .header {
      background: @InputBackgroundColorDark;
      color: @TextColorDark;
    }
    .content {
      background: @InputBackgroundColorDark;
      color: @TextColorDark;
    }
    .add-todo-list {
      border: 1px solid @BorderColorDark;
    }
  }

  .ui.modal > .content,
  .ui.modal > .header,
  .ui.page.modals .transition.visible.active .actions {
    background-color: @InputBackgroundColorDark;
  }
  .ui.modal > .header {
    color: @TextColorDark;
  }
  // BOOKS USERS MODAL
  .users-form {
    &__avatar {
      border-color: @BorderColorDark;
      &-text {
        color: @UsersModalTextColor;
      }
    }
  }

  // MODALS CHECKBOX
  .ui.checkbox {
    label::before {
      background-color: transparent;
      border: 1px solid @BorderColorDark;
    }
    label::after {
      background-color: @PrimaryColor;
      border-radius: 2px;
    }
    label {
      outline: none;
    }
    input:focus ~ label {
      color: @TextColorDark;
    }
    input:checked ~ label:after {
      color: @SecondaryColor;
    }
    input:not(:checked) ~ label::before {
      background-color: transparent;
      border-color: @BorderColorDark;
    }
  }
  .tour {
    background-color: @BackGroundColorDark;
  }
  .ui.popup {
    background-color: @InputBackgroundColorDark;
    border-color: @TableBorderColorDark !important;
    &.right.bottom::before {
      box-shadow: -1px -1px 0px 0px @TableBorderColorDark;
    }
    &.center.bottom::before {
      box-shadow: -1px -1px 0px 0px @TableBorderColorDark;
    }
    &::before {
      background-color: @InputBackgroundColorDark;
      box-shadow: 1px 1px 0px 0px @TableBorderColorDark;
    }
    & .header {
      background-color: @InputBackgroundColorDark;
    }
  }
}
.ui.modal > .header {
  display: flex;
}
.ui.modal {
  border-radius: 6px;
}

.reactour {
  &__close {
    top: 15px !important;
    right: 15px !important;
  }
  /* fyrYpc and fKLrJo is reactour inner class names */
  &__dot {
    &.fyrYpc:before,
    &.fKLrJo::before {
      content: '';
    }
  }
}

@media @smallMob {
  .tour {
    max-width: 90vw !important;
  }
}
