@import 'app/my-custom-semantic-theme/variables.less';

.Dark {
  .report-comment {
    background-color: @BackGroundColorDark;
  }
  .info-card {
    background-color: @InputBackgroundColorDark;
  }
  .task-list-item {
    &__card {
      &-text {
        background-color: @InputBackgroundColorDark;
      }
      &-icon {
        &-wrapper {
          background-color: @BackGroundColorDark;
        }
      }
      &-time {
        color: @TextColorDark;
        opacity: 0.5;
      }
    }
  }
}
