@import '../../variables.less';

.outline-custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  border: 1px solid @InputBorderColor;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.Dark {
  & .outline-custom-button {
    border-color: @BorderColorDark;
  }
}
